<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body>

        <h3>
            Ordenador de números
        </h3>

        <h4>
            Algoritmo para ler 10 números e ordena do menor para o maior.
        </h4>

        <div ng-app="minhaApp" ng-controller="meuCtrl">
            <form class="form-inline" name="formItem">
                <input type="number" ng-model="valor">
                <button ng-click="adicionar()">Adicionar item</button>
            </form>
        </div>

        <div ng-controller="meuCtrl">
            <table>
              <thead>
                <tr>
                  <th>Valores</th>
                </tr>
              </thead>
              <tbody id='resultado'>

              </tbody>
            </table>
        </div>

        <script>
            var app = angular.module('minhaApp', []);
            app.controller('meuCtrl', function($scope) {
                $scope.valores = [];
                
                $scope.adicionar = function() {
                    $scope.valores.push($scope.valor);
                    $scope.valor = "";

                    if ($scope.valores.length == 10){
                        var aux;
                        var troca = true;
                        while (troca) {
                            troca = false;
                            for (var i = 0; i < 10; i++) {
                                if ($scope.valores[i] > $scope.valores[i + 1]) {
                                    aux = $scope.valores[i];
                                    $scope.valores[i] = $scope.valores[i + 1];
                                    $scope.valores[i + 1] = aux;
                                    troca = true;
                                }
                            }
                        }   
                        $scope.valores.forEach(valor => {
                        var linha = document.createElement('tr');
                        linha.insertCell(0).innerHTML = valor;
                        document.getElementById('resultado').appendChild(linha);
                        }); 
                        $scope.valores = [];
                    };
                } 
            }); 
        </script>
    </body>
</html>

