<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body>

        <h3>
            Maior número par
        </h3>

        <h4>
            Algoritmo que encontra qual o maior número par digitado pelo usuário. <br/>
            O usuário deve digitar 50 números e ao final o algoritmo deve imprimir o resultado.
        </h4>

        <div ng-app="minhaApp" ng-controller="meuCtrl">
            <form class="form-inline" name="formItem">
                <input type="number" ng-model="valor">
                <button ng-click="adicionar()">Adicionar valor ({{ valores.length }})</button>
            </form>

            <p>Maior número par: <b> {{ maior }} </b></p>
        </div>

        <script>
            var app = angular.module('minhaApp', []);
            app.controller('meuCtrl', function($scope) {
                $scope.valores = [];

                $scope.adicionar = function() {
                    $scope.valores.push($scope.valor);
                    $scope.valor = "";

                    if ($scope.valores.length == 50){
                        $scope.resultado();
                    } 
                }

                $scope.resultado = function () {
                    $scope.valoresPar = [];
                    $scope.valores.forEach((valor, index)=> {
                        if (valor % 2 == 0){
                            $scope.valoresPar.push(valor);
                        }
                    });
                    $scope.maior = Math.max.apply(null , $scope.valoresPar);
                    $scope.valores = [];
                }
            }); 
        </script>

    </body>
</html>